@use "@/shared/styles/variables" as *;

.btn {
  position: relative;
  width: 100%;
  padding: 12px;
  background-color: $color-black-pearl;
  border-radius: 8px;
  border: 1px solid $color-black-pearl;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.6px;
  justify-content: center;
  flex-shrink: 0;
  transition:
    background-color $transition-300,
    border-color $transition-300;
  color: $color-white;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    transition:
      clip-path 0.5s ease-in-out,
      background-color 0.5s ease-in-out;
    z-index: 0;
  }

  &:hover {
    border-color: $color-blue-zodiac;
  }

  &:hover::before {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    background-color: $color-blue-zodiac;
  }

  &:not(:hover)::before {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    transition-delay: 0.3s;
  }

  &:focus-visible {
    border-color: $color-blue-zodiac;
    background-color: $color-blue-zodiac;
    outline: none;
  }

  &[disabled],
  &--disabled {
    background-color: $color-raven;
    pointer-events: none;
  }

  /* sizes */
  &--small {
    padding: 7px 12px;
    font-size: 14px;
    width: 80px;
  }
  &--medium {
    padding: 7px 16px;
    font-size: 14px;
    width: 100px;
  }
  &--large {
    padding: 12px 20px;
    font-size: 16px;
    width: 300px;
  }

  /* variants */
  &--delete {
    background-color: $color-pacific-blue;
    border: 1px solid $color-pacific-blue;

    &:hover {
      border-color: $color-free-speech-red;
    }

    &:hover::before {
      background-color: $color-free-speech-red;
    }
    &:not(:hover)::before {
      transition-delay: 0.3s;
    }

    &:focus-visible {
      border-color: $color-free-speech-red;
      background-color: $color-free-speech-red;
    }
  }

  .btn__text,
  .btn__icon {
    z-index: 10;
  }
}
