.react-datepicker-popper {
  z-index: 10000;
}
.react-datepicker-wrapper {
  width: 290px;
  font-family: inherit;
  z-index: 1000;
}

.range-datepicker__wrapper .react-datepicker__input-container input {
  width: 100%;
  padding: 12px 16px 12px 45px;
  border-radius: 10px;
  border: 1px solid #8c89b4;
  font-size: 16px;
  color: #333;
  background-color: #f9fafb;
  cursor: pointer;
  transition: border 0.3s ease-in;
}

.range-datepicker__wrapper .react-datepicker__input-container input:hover {
  border: 1px solid #010316;
}
.range-datepicker__wrapper .react-datepicker__input-container input:focus {
  outline: none;
  border: 1px solid #525066;
}

.react-datepicker__input-container input::placeholder {
  color: #667085;
}

.react-datepicker {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.react-datepicker__current-month {
  font-weight: 600;
  font-size: 16px;
  color: #222;
}

.react-datepicker__navigation-icon::before {
  border-color: #555;
}

.react-datepicker__day--in-selecting-range:not(
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range
),
.react-datepicker__month-text--in-selecting-range:not(
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range
),
.react-datepicker__quarter-text--in-selecting-range:not(
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range
),
.react-datepicker__year-text--in-selecting-range:not(
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range
),
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #4f46e5;
  color: #fff;
  border-radius: 50%;
}

.react-datepicker__close-icon {
  display: none;
}

.react-datepicker__navigation-icon {
  top: 11px;
}

.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
.react-datepicker__year-text:not([aria-disabled="true"]):hover {
  border-radius: 0.3rem;
  background-color: #bac4f0;
}
