@use "@/shared/styles/variables" as *;

.topbar {
  &__input-wrapper {
    width: 300px;
    position: relative;
    z-index: 1001;
  }

  &__search-icon {
    width: 22px;
    height: 22px;
    color: $color-grey-suit;
  }

  &__search-btn {
    display: none;
  }

  &__search-list {
    width: 100%;
    background-color: $color-white;
    border: 2px solid $color-solitude;
    top: -20px;
    left: 0;
    position: absolute;
    padding: 20px 0 0 0;
  }

  &__search-item {
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    color: $color-blue-zodiac;
    padding: 4px 10px;
    background-color: transparent;
    transition: background-color $transition-300;
  }

  &__search-item:hover,
  &__search-item:focus-visible {
    outline: none;
    color: $color-black-russian;
    background-color: $color-solitude;
  }
}
