@use "@/shared/styles/variables" as *;

.profile-dropdown {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: $color-alice-blue;
    border: 2px solid $color-solitude;
    border-radius: 50px;
    padding: 6px 16px;
    margin: 0;
    cursor: pointer;
    z-index: 1000;
    min-width: 250px;
    justify-content: space-between;
  }

  &__btn:focus-visible {
    outline: none;
  }

  &__user-data {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__avatar {
    border-radius: 50px;
    width: 34px;
    height: 34px;
  }

  &__name {
    color: $color-blue-zodiac;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
  }

  &__list {
    position: absolute;
    background-color: $color-white;
    border: 2px solid $color-solitude;
    border-radius: 8px;
    list-style: none;
    width: 100%;
    left: 0;
    top: 25px;
    margin: 0;
    padding: 35px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform-origin: top;
    animation-fill-mode: forwards;
    z-index: 999;
  }

  &__list.open {
    animation: dropdown-open 0.3s ease forwards;
  }

  &__list.closing {
    animation: dropdown-close 0.3s ease forwards;
  }

  &__item {
    color: $color-blue-zodiac;
    font-family: inherit;
    font-size: 14px;
    transition:
      color $transition-300,
      background-color $transition-300;
    cursor: pointer;
    padding-left: 10px;
  }

  &__item:hover,
  &__item:focus-visible {
    outline: none;
    color: $color-black-russian;
    background-color: $color-solitude;
  }

  &__arrow {
    transition: transform 0.25s ease-out;
    transform: scaleY(1);
  }

  &__arrow.open {
    transform: scaleY(-1);
  }

  @keyframes dropdown-open {
    from {
      transform: scaleY(0);
      opacity: 0;
    }
    to {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  @keyframes dropdown-close {
    from {
      transform: scaleY(1);
      opacity: 1;
    }
    to {
      transform: scaleY(0);
      opacity: 0;
    }
  }
}
