@use "@/shared/styles/variables" as *;

.analytics {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  margin: 0 auto 40px;
  background-color: $color-white;
  border: 1px solid $color-quartz;
  border-radius: 8px;
  box-shadow: 2px 2px 4px $color-link-water;

  &__chart {
    width: 100%;
    height: 400px;
  }

  &__header {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 26px;
    color: $color-paua;
    font-weight: 700;
    font-family: inherit;
  }

  &__header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dropdown-wrapper {
    width: 100px;
    z-index: 1002;
    position: relative;
  }

  &__dropdown-btn {
    background-color: $color-white;
    color: $color-paua;
    border: 1px solid $color-quartz;
    border-radius: 8px;
    padding: 18px 8px;
    height: 40px;
    transition:
      border $transition-300,
      color $transition-300;
  }

  &__dropdown-btn:hover {
    border: 1px solid $color-black-russian;
    color: $color-east-bay;
  }

  &__dropdown-list {
    width: 100%;
    background-color: $color-white;
    border: 2px solid $color-solitude;
    top: 33px;
    left: 0;
    z-index: -1;
    position: absolute;
    padding: 5px 0 0 0;
  }

  &__dropdown-item {
    color: $color-blue-zodiac;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }

  &__dropdown-item:hover {
    outline: none;
    color: $color-black-russian;
    background-color: $color-solitude;
  }
}
